* {
	padding: 0;
	margin: 0;
}



header .img-fluid {
	max-width: 20%;
	max-height: 30%;
	
}

header h1 {
	display: inline;
	vertical-align: middle;
	color: orange;
		
}

header .row {
	align-items: center;
	background-color: black;

}

header p {
	color: white;
	vertical-align: middle;
	padding: 0 20px;
	margin: 0 10px;

}

header nav {
	display: flex;
	justify-content: flex-end;
	text-align: center;

}


.top .jumbotron {
	background-image: url(../images/milkyway_background.jpg);
	background-color: black;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	height: 1200px;
}

.top p {
	right: 70px;
	color: white;
	font-size: 40px;
	font-style: italic;
	text-align: right;
}

.top button { 
	text-align: center;
	height: 100px;
	width: 400px;
	font-size: 50px;
 }

 .btn-area {
 	text-align: center;
 }

.figure {
	max-width: 70%;
	min-height: 70%;

	
	
	
}

.bottom .row {
	text-align: center;
		
}

.gallery {
	align-items: center;
	text-align: center;
	margin: 10px;
	
}

.gallery p {
	border: solid 5px;
	border-radius: 10px;
	padding: 10px;
}

.gallery h2 {
	color: orange;
}

.alpaca-img {
	max-width: 100%;
	height: auto;
}

.discover-img {
	text-align: center;
	margin-bottom: 50px;
}

.discover-img h1 {
	
	position: relative;
	top: 100px;
	width: 100%;
	color: yellow;
	border: solid 1px;
	background: rgba(0, 0, 0, 0.8);
}

#discover-gallery {
	background-color: black;
	text-align: center;
	padding: 10px;
	vertical-align: middle;

}

#discover-gallery p {
	color: white;
}

footer {
	color: white;
	background-color: black;
}

footer .icon-area {
	text-align: right;
}

